<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Games</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Big</string>
			<key>Description</key>
			<string>Roll between 11 and 17</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Small</string>
			<key>Description</key>
			<string>Roll between 4 and 10</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Odd</string>
			<key>Description</key>
			<string>Roll Odd</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Even</string>
			<key>Description</key>
			<string>Roll even</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Triple</string>
			<key>Description</key>
			<string>Roll 3 the same</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Double</string>
			<key>Description</key>
			<string>Roll two the same</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Any Triple</string>
			<key>Description</key>
			<string>Roll any 3 the same</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Three Dice Total</string>
			<key>Description</key>
			<string>Roll specific total</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Combination</string>
			<key>Description</key>
			<string>Roll specific numbers</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Single Dice Bet</string>
			<key>Description</key>
			<string>Roll specific number</string>
		</dict>
	</array>
</dict>
</plist>
